// General Styles //

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Pro', serif;
}

i { cursor: pointer; }
button { cursor: pointer; }

.fa-edit { color: goldenrod; }
.fa-check-square { color: lime; }

// Loading Message //

.loading-message {
  margin-top: 200px;
  font-size: 1.8rem;
  text-align: center;
}

// Header //

header {
  min-width: 425px;
  height: 160px;
  text-align: center;

  .bookshelf-name,
  .edit-bookshelf-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 1.3rem;
  }
  
  .edit-bookshelf-name {
    input {
      width: 250px;
      padding: 8px;
      font-size: 1.4rem;
    }
  }

  .fa-check-square { font-size: 1.1rem; }

  .new-book-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 425px;
    max-width: 600px;
    margin: 0 auto;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.1rem;
    }

    input {
      width: 150px;
      margin-top: 5px;
      padding: 4px 8px;
      font-size: 1rem;
    }

    .pages-input { width: 75px; }
    .completed-input { margin: 10px 0; }

    button {
      flex-basis: 170px;
      margin-top: 20px;
      padding: 10px 25px;
      font-size: 1.1rem;
    }
  }

  button {
    padding: 10px 25px;
    color: #fff;
    background: steelblue;
    border: none;
    border-radius: 5px;
  }

  i {
    margin-left: 20px;
  }
}


// Bookshelf Contianer //

.bookshelf-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 425px;
  max-width: 650px;
  min-height: 200px;
  margin: 50px auto 30px;
  padding: 15px 20px;

  .empty-bookshelf-message {
    align-self: center;
    margin: 0 auto;
    font-size: 1.4rem;
  }
}


// Book Card //

.book-card,
.edit-book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 220px;
  margin: 10px 20px;
  padding: 30px 15px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.book-card {
  .book-order-id {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .book-title { font-weight: 600; }
  .book-author { font-style: italic; }
  
  .fa-edit {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.8rem;
  }
}

.edit-book-card {
  padding: 25px 15px;

  input {
    margin-bottom: 10px;
    padding: 2px;
    font-size: 1rem;
    text-align: center;

    &[type='checkbox'] {
      margin: 0 auto;
    }
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    margin: 0 auto;

    input { margin-left: 10px; }
  }

  .fa-check-square {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 0.8rem;
  }

  .fa-trash-alt {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 0.8rem;
    color: red;
  }
}
